<!DOCTYPE html>
<html ng-app="trump-streaming">
	<head>
		<title> Trump Streaming </title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="trumpAngular.js"> </script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="/socket.io/socket.io.js"> </script>
		<script src="/bower_components/angular-socket-io/socket.js"> </script>
		<script src="/bower_components/lodash/lodash.js"></script>
		<script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
		<script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
		<script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAKN3emSkkE46aLazsPWc-1riUdd_tc5po'></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" href="trumpStyle.css">
		<script>
		  var socket = io();
		</script>
    </head>
	<body ng-controller="TrumpStreaming">
		<div class="col-md-12">
			<div class="header">About</div>
			<h1 class="col-md-12 title"> Poliai </h1>
			<div class="col-md-8">
				The following sentiment analysis predicts the polarity of the text captured in the tweet. It doesn't directly predict whether or not people are directing negative or positive comments towards trump, rather it predicts whether the language being used is negative or positive in the context of a trump tweet.
			</div>
			<a class="col-md-8" href="https://github.com/benholtzmansmith/trump-twitter-stream"> Open sourced via github </a>
		</div>
		<div class="col-md-6">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-circle
						ng-repeat="c in positiveCircles track by c.id"
						center="c.center"
						stroke="c.stroke"
						fill="c.fill"
						radius="c.radius"
						visible="c.visible"
						geodesic="c.geodesic"
						editable="c.editable"
						draggable="c.draggable"
						clickable="c.clickable"
						control="c.control">
				</ui-gmap-circle>
				<ui-gmap-circle
						ng-repeat="c in negativeCircles track by c.id"
						center="c.center"
						stroke="c.stroke"
						fill="c.fill"
						radius="c.radius"
						visible="c.visible"
						geodesic="c.geodesic"
						editable="c.editable"
						draggable="c.draggable"
						clickable="c.clickable"
						control="c.control">
				</ui-gmap-circle>
			</ui-gmap-google-map>
		</div>
		<div ng-repeat="n in streamResults track by $index">
			<div class="col-md-8">
				Text: {{n.text}}
			</div>
			<div class="col-md-4">
				Sentiment: {{n.sentiment}}
			</div>
		</div>
	</body>
</html>
